img {
    width: 150px;
    height: 150px;
    margin-left: 45.5%;
    align-self: center;
    align-content: center;
    text-align: center;
}
h1 {
    text-align: center;
}
a {
    margin-left: 45.5%;
}