html {
    background-color: rgb(120, 249, 120);
}
h1 {
    text-align: center;
    text-emphasis: none;
}
#theDOB {
    text-align: center;
}
th {
    font: optional;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px;
    border-width: 1px;
}
tr {
    border-width: 1px;
    border-bottom: 1px;
}
td {
    border-width: 1px;
    border-bottom: 1px;
}
table {
    border-width: 2px;
}